*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%
}
h1{
    font-size:2.6rem;
}
h2{
    font-size:4.8rem;
}
h3{
    font-size:3rem;
}
h4,h5{
    font-size:2.8rem;
}
li {
    font-size:2rem;
}
a {
    color:rgb(10, 11, 11);
    text-decoration: none;
    font-size:20px;
}
.main-head {
    background-color: rgb(243, 175, 129);
    color:rgb(9, 9, 10);
}
div{
    min-height:10vh;
    display:flex;
    align-items: center;
    width:90%;
    margin:auto;
    padding:2rem;
}
.main-head h1{
    font-family: "pacifio",cursive;
}
div ul {
    display:flex;
    flex:1 1 40rem;
    justify-content: space-around;
    align-items:center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
}
.hero{
    min-height: 90vh;
    background:url("13ou.jpg");
    background-size:cover;
    background-position:bottom;
    color:#ffffff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    

}
.hero h3{
    padding:2rem;
    font-size: 30px;
    
}
.hero h2{
    font-size:50px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(245, 243, 243);
    background-color: black;
}
button{
    padding:0.7rem 1rem ;
    background:rgb(243, 175, 129);
    color:black;
    font-size:1.8rem;
    cursor:pointer;
    border:none;
}
P{
    font-size:20px;
    margin:10px;
    font-family: "pacifio",cursive;
}
.aa{
   padding:20px;
}
span{
    color:rgb(129, 135, 244);
    font-style:italic;
}
#bb{
    float:right;
    width:400px;
    margin:20px;
}
.hh{
    text-decoration: underline;
    color:rgb(72, 61, 82);
    font-size:2.2rem;
    margin:20px;
}
#s{
    float:left;
    width:200px;
    margin:10px;
    border:3px solid blue;
}
#v{
    float:right;
    width:400px;
    margin:10px;
    border:3px solid rgb(224, 47, 12);
}
#a{
    margin:50px;
}
#q{
    margin:70px;
}
#z{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
.d{
    color:blue;
    text-decoration: underline;
}
#r{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#h{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#j{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#p{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#hhh{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#i{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#ii{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#iii{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
.u{
    float: right;
    position:absolute;
}
.k{
    margin:25px;
}
#nn{
   
    width:600px;
    margin:30px;
}
#g{
    float:right;
    width:500px;
    height:500px;
    margin:20px;
}
#o{
    border: 2px solid black;
    background-color:#778ae6;
    color:rgb(246, 245, 245);
    display:none;
    position:absolute;
}
#vv{
    float:left;
    width:400px;
    margin:10px;
    border:3px solid rgb(236, 233, 233);
}
#rrrr{
    margin: 50px 20px 20px 300px;
    width:600px;
    height:400px;
}
.c{
    font-size : 30px;
    text-decoration: underline;
    color:rgb(68, 68, 166);

}
#e{
    text-align: center;
}
hr{
    border:8px solid blue;
}
#l{
    background-color:#d0d7f8;
    font-size: 20px;
    margin:50px;
}
#hj{
    color:rgb(214, 21, 21);
}
